/* Global Styles */

body {
    background-image: url(../Images/AC.jpg);
    background-size: contain;
}



img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
}

p {
    color: black;
    border: 3px solid black;
    padding: 20px;
    background-color: white;
}

a { 
    color: black;
}

a:hover {
    text-decoration: none;
}


/* Mobile Styles */



li {
    color: black;
    text-align: center;
    list-style-position: inside;
}

header {
    border: 2px solid black;
    background-color: white;
    text-align: center;
    padding: 5px;
    font-family: "Jolly Lodger", system-ui;
  font-weight: 100;
  font-style: normal;
  font-size: xx-large;
  box-shadow: 5px 5px 5px black;

}

h2 {
    border: 2px solid black;
    background-color: white;
    text-align: center;
    padding: 10px;
       font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  box-shadow: 5px 5px 5px black;
}


nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}


nav li a {
      font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
    display: block;
    background-color: lightblue;
    padding: 5px;
    height: 40px;
    margin: 10px 0;
    line-height: 40px;
    text-decoration: none;
    box-shadow: 5px 3px 3px black;
   
}

nav li a:hover {
    background-color: black;
    color: white;
}

main img {
    border-radius: 10px;
    box-shadow: 5px 5px 3px black;
}

  #smalllist {
      border: 3px solid black;
       padding: 20px;
        background-color: white;}

         li{
        margin-bottom: 20px;
    }

footer {
    text-align: center;
    background-color: white;
   margin-left: 35%;
   margin-right: 35%;
   border: 1px solid black;
   margin-bottom: 10px;

    
}

/* Tablet Styles */

@media(min-width: 768px) {

     aside {
        border-radius: 10px;
        display: flex;
    
    }
 
   

    .cfimg {

    margin-top: 500px;
        width: 350px;
        height: 500px;
        margin: 20px;
    }

    .smallcontainer {
      margin: 40px;
      border: 3px solid black;
       padding: 30px;
        background-color: #48c0b6;
    }

  



    nav li {
        display: inline;

    }


    nav li a {
    display: inline-block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    margin: 10px;
    padding: 7px;
    }

      img {
        width: 75%;
        border: 7px solid black;
    }

    .ACNHimg {
    width: 200px;
    height: 300px;
    margin: 30px;
    }
}






/* Desktop Styles */



@media(min-width: 1024px) {

     .ACNHimg {
    width: 400px;
    height: 600px;
    margin: 30px;
    }

    .ACNHblank{
        display: none;
    }

    #container{
        margin: 40px;
        border: 10px solid black;
        background-color: #48c0b6;
    }
 


    .ACNLimg{
        margin-bottom: 20px;
    }

    p{
        margin-left: 20px;
        margin-right: 20px;
    }

    img {
        width: 50%;
        border: 10px solid black;
    }

    h2 {
        margin-left: 40px;
        margin-right: 40px;
        font-size: xxx-large;
    }

    nav li a {
    margin: 0 40px;
    padding: 10px;
    width: 170px;}
    

    .smallcontainer {
        border: none;

    }

    .pbig {
        padding-left: 100px;
        padding-right: 100px;
        line-height: 30px;
    }

    li {
        margin-bottom: 30px;
    }

      .cfimg {
        width: 400px;
        height: 400px;
        
    }
    
}



