#homepage {
    background-image: url(../Images/Background.webp);
}

#about {
    background-image: url(../Images/Background3.webp);
    background-size: cover;
}

#TVSHOW{

background-image: url(../Images/Background5.jpeg);
background-size: cover;
}

#container {
    background-image: url(../Images/Background2.jpg);
    background-size:cover;
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    border: 10px solid olive;
    border-radius: 20px;
    
}

#containertwo {
    background-color: gray;
    background-size:cover;
    width: 75%px;
    margin: 20px auto;
    padding: 20px;
    border: 10px solid darkslategray;
    border-radius: 20px;}

    #containerthree {
    background-color: #c1b994;
    background-size:cover;
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    border: 10px solid #2b4022;
    border-radius: 20px;}

p{
    font-size: large;
}

aside {

    margin: 3%;
}

.smallimg {
    width: 40%;
    height: auto;
}

.smallimg2 {
    width: 100%;
    height: auto;
}


header {
    height: 250px;
}



h1 {
text-align: center;
font-family: monospace;
font-size: 35px;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    background-color: lightgray;
    color: green;
    margin: 10px;
    border: 5px black solid;
    border-radius: 10px;
    text-decoration: none;
}

nav li a:hover {
color: white;
background-color: darkgray;
border-color: lightgray;

}

nav a { color: black;
font-size: 20px;
padding: 20px;
}

nav a:hover {
    text-decoration: none;
}

h2 {
text-align: center;
font-family: monospace;
font-size: 35px;
}

h3{
text-align: center;
font-family: monospace;
font-size: 35px;
}


main img {
    display: block;
    margin:  20px auto;
    width: 50%;
    border-radius:  20px;
}

footer {
    padding: 40px;
    text-align: center;
}

hr {
    color: burlywood;
    border-color: burlywood;
}

.line{
    color: aliceblue;
    border-color: aliceblue;
}

li {
    padding-bottom: 25px;
    font-size: large;
    list-style-type: none;
}

:any-link {
    color: darkslategray
}

.linktwo {
    color: lightgray;
}

.vertical {
    display: flex;
}

section{

    padding: 20px;
border: 10px solid #2b4022 ;
}

.line2 {
    color: #202d0e;
    border-color: #202d0e;
   border-width: thick;
}

.link3 {
    color: #2b4022;


}

.row {
    display: block;
    
}