/* Global Styles */

body {
    background-image: url(../Images/UnCol.avif);
    color: white;
   background-size: contain;
}



img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

p {color: black;}


/* Mobile Styles */

 section, aside {
        margin: 20px;
        padding: 20px;
        border: 2px solid red;
        border-radius: 10px;
        width: 50%;
    }
    

#container {
    background-color: #F2F2F2;
    border: 2px solid red;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
}

hr {color: red;
    border-color: red;
}

li {
    color: black;
    padding-bottom: 50px;
    text-align: center;
}

.bigtext {
    font-size: larger;
}






.cover {
    width: fit-content;
}

header {
    text-align: center;
    padding: 40px;
}

header h1 {
    font-size: 50px;
    color: black;
}
    h2{
text-align: center;
font-size: 35px;
color: black;
}


    h3{
text-align: center;
font-size: 35px;
color: black;
}


nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}


nav li a {
 
    background-color: wheat;
    color: black;
    padding: 5px;
    height: 40px;
    width: 40px;
    margin: 40px 0;
    line-height: 40px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 5px 3px 3px black;
}

nav li a:hover {
    background-color: black;
    color: white;
}

main img {
    border-radius: 10px;
    box-shadow: 5px 5px 3px black;
}

footer {
    text-align: center;
    padding: 40px;
    color: red; 
}

/* Tablet Styles */

@media(min-width: 768px) {
    nav li {
        display: inline;

    }

    .fit{
    width: fit-content;
    height: auto;
}


    nav li a {
        display: inline-block;
        width: 210px;
        margin: 10px;
    }

    main img {
        width: 50%;
    }
}

/* Desktop Styles */

@media(min-width: 1024px) {
    #container{
        width: 75%;


    }
    nav {
        background-color: burlywood;
        border-radius: 10px;
        box-shadow: 5px 3px 3px black;

    }

    .small {
    width: 200px;
}

   .fit{
    width: 200px;
    height: auto;
}

.big {
    width: 75%;
}

    main{
        display: flex;
    }

    main img{
        width: 100%;
        height: auto ;
    }

    section, aside {
        margin: 20px;
        padding: 20px;
        border: 2px solid red;
        border-radius: 10px;
        width: 50%;
    }
    

}